--pychache--/
*.pdf
*.py[cod]
*$py.class
*.png
*.hdf5
*.gif
*.mp4
*.bcf
*.nav
*.run.xml
*.snm
*.synctex.gz
*.toc
*.out
ProblemRelatedFiles/WaterchannelData/MitBathymetrie/
ProblemRelatedFiles/WaterchannelData/OhneBathymetrie/
ProblemRelatedFiles/2023_*
ProblemRelatedFiles/2024_*
