--pychache--/
*.pdf
*.py[cod]
*$py.class
*.png
!logo_eu.png
!Logo_GRK2583.png
!LogoTime-X.png
!tuhh-logo.png
*.hdf5
*.gif
*.mp4
*.bcf
*.nav
*.run.xml
*.snm
*.synctex.gz
*.toc
*.out
sim_data*
ProblemRelatedFiles/WaterchannelData/MitBathymetrie/
ProblemRelatedFiles/WaterchannelData/OhneBathymetrie/
ProblemRelatedFiles/2023_*
ProblemRelatedFiles/2024_*
